# .gitconfig

[user]
  email = git@tianwei.io
  name = TIANWEI ZHANG
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAE6mdsKlaqk/n17bFP0+LmbilsWVvPa2gHF0PNAQaff

[core]
  ignorecase = false
  pager = delta

[init]
	defaultBranch = main

[alias]
  a = !git config -l | grep alias | cut -c 7-

  s = !git rev-parse --git-dir > /dev/null 2>&1 && git status || eza --color=always --icons=always
  co = checkout
  br = branch
  cm = commit -m
  aas = !git add -A && git status -s
  aac = "!f() { git add -A && git commit -m \"$1\"; }; f"
  acp = "!f() { git add -A && git commit -m \"$1\" && git push ; }; f"

  ls = log --oneline
  ll = log --show-signature
  lg = log --graph --oneline --all
  lst = lg

  undo = reset --soft HEAD^
  cancel = reset --hard HEAD^
  
  reword-last = "!f() { git commit --amend -m \"$1\"; }; f"
  refile-last = commit --amend --no-edit
  refile-all-last = commit -a --amend --no-edit
  recommit-last = "!f() { git commit --amend -m \"$1\"; }; f"
  recommit-all-last = "!f() { git commit --amend -am \"$1\"; }; f"

  wta=worktree add
  wtl=worktree list
  wtr=worktree remove

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
  allowedSignersFile = /Users/zhang13music/.ssh/allowed_signers

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true   # use <n> and <N> to move between diff sections
  side-by-side = true

[merge]
  conflictStyle = diff3

[diff]
  colorMoved = default
